<div class="flex justify-center items-center ">
<div class="grid grid-cols-1 md:grid-cols-2 bg-[#F5ECE6] gap-6 my-8 h-150">
    <div class="flex flex-col ">
        <img src="assets/1.png" alt="Product Image" class="w-64 h-64 m-10 object-cover">
        <button type="submit" class="w-2/5 self-center md:w-4/5 bg-[#D93B3B] py-2 md:my-20 rounded-md  text-white hover:bg-[#D93B3B] hover:scale-105 hover:cursor-pointer ">
            Buy
        </button>
    </div>
    
    <div class="flex flex-col gap-10 justify-start items-center md:mt-20">
        <h1>Product name</h1>
        <h1>Price</h1>
        <h1>Descrption</h1>
    </div>
</div>
</div>