<div class="container mx-auto px-4 my-8">



    <div class="grid grid-cols-1  lg:grid-cols-3 gap-6">


        <div class="bg-[#F5ECE6] rounded-2xl overflow-hidden shadow-lg flex flex-col">
            <img src="/assets/1.png" alt="Hoodies" class="w-full h-104 object-cover hover:scale-105"/>
            <div class="p-4">
                <h2 class="text-lg text-center font-bold hover:text-[#D93B3B]  hover:scale-110 hover:cursor-pointer">Hoodies</h2>
            </div>
        </div>

        <div class="bg-[#F5ECE6] rounded-2xl overflow-hidden shadow-lg flex flex-col">
            <img src="/assets/2.png" alt="Jacket" class="w-full h-104 object-cover hover:scale-105"/>
            <div class="p-4">
                <h2 class="text-lg text-center font-bold hover:text-[#D93B3B] hover:scale-110 hover:cursor-pointer  ">Jacket</h2>
            </div>
        </div>

        <div class="bg-[#F5ECE6] rounded-2xl overflow-hidden shadow-lg flex flex-col">
            <img src="/assets/3.png" alt="Boot" class="w-full h-104 object-cover hover:scale-105"/>
            <div class="p-4">
                <h2 class="text-lg text-center font-bold hover:text-[#D93B3B] hover:scale-110 hover:cursor-pointer  ">Boot</h2>
            </div>
        </div>
    </div>


</div>
