
<app-email-verification-popup [style.display]="verificationStatus===1 ? 'block':'none'" color="r" topMessage="Failed" message="Verify email first." (close)="closePopup()"></app-email-verification-popup>
<app-email-verification-popup  [style.display]="verificationStatus===2 ? 'block':'none'" color="y" topMessage="Signup Done!" message="Verification email Sent." (close)="closePopup()"></app-email-verification-popup>
<app-email-verification-popup [style.display]="verificationStatus===3 ? 'block':'none'" color="g" topMessage="Success!" message="Email verified!" (close)="closePopup()"></app-email-verification-popup>
<app-email-verification-popup [style.display]="verificationStatus===4 ? 'block':'none'" color="r" topMessage="Failed" message="Incorrect email or password." (close)="closePopup()"></app-email-verification-popup>



<div class="grid grid-cols-1  md:grid-cols-2 gap-6 ">
    <div>
        <img src="/assets/LoginPage.png" alt="Login Page" class="w-full h-170 object-cover hidden md:block ">
    </div>
    <div class="flex flex-col gap-6 justify-center items-center rounded-2xl">
        <h1 class="text-center text-black  text-4xl italic">H&H</h1>

        <div>
            <form class= " bg-white  rounded-2xl p-6 overflow-hidden shadow-2xl sm:mb-14 " [formGroup]="loginForm" (ngSubmit)="login()">
                <label class="block mb-1">Email</label>
                <input type="text" placeholder="Enter your email" class="w-full border-2 rounded-md pl-4 pr-22 py-2 text-sm text-black  focus:outline-none focus:border-[#D93B3B]" formControlName="email">
                <label class="block mb-1">Password</label>
                <input type="password" placeholder="Enter your password" class="w-full border-2 rounded-md pl-4 pr-22 py-2 text-sm text-black focus:outline-none focus:border-[#D93B3B]" formControlName="password">
                <div class="w-full flex justify-end pt-2">
                    <a href="#" class=" underline text-[#D93B3B] hover:cursor-pointer">Forgot Password</a>
                </div>
                <button type="submit" class="btn w-full bg-[#D93B3B] py-2 rounded-md mt-2 text-white hover:bg-[#D93B3B]
                 hover:scale-105 hover:cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:scale-100"
                 [attr.disabled]="loginForm.invalid ? '':null"
                >LOG IN</button>
                <div class="flex flex-row items-center my-4">
                <hr class="grow border-gray-400"> <!-- grow === flex-grow-->
                <span class="px-3 text-gray-500 text-sm">Or Login with</span>
                <hr class="grow border-gray-400">
                </div>

                <div class="flex flex-row justify-evenly px-10">
                <i class="fa-brands fa-facebook fa-2x hover:cursor-pointer hover:scale-110 transition-transform duration-200"
                    style="color: rgb(13, 23, 219);"></i>

                <svg class="w-8 h-8 hover:scale-110 cursor-pointer transition-transform duration-200" viewBox="0 0 533.5 544.3">
                    <path fill="#4285F4" d="M533.5 278.4c0-17.9-1.4-35.1-4.1-51.8H272v98h146.9c-6.3 34.1-25 62.9-53.3 82v68h86.1c50.6-46.6 80.8-115.2 80.8-196.2z"/>
                    <path fill="#34A853" d="M272 544.3c72.8 0 133.9-24.1 178.5-65.3l-86.1-68c-24 16.1-54.5 25.5-92.4 25.5-70.9 0-131-47.8-152.4-112.2H31.3v70.5C75.8 479 167.2 544.3 272 544.3z"/>
                    <path fill="#FBBC05" d="M119.6 328.3c-11.1-33.1-11.1-68.6 0-101.7V156.1H31.3c-39.6 78.8-39.6 171.2 0 250l88.3-77.8z"/>
                    <path fill="#EA4335" d="M272 107.7c38.5 0 73 13.2 100.2 39.1l75-75C405.9 24.1 344.8 0 272 0 167.2 0 75.8 65.3 31.3 156.1l88.3 70.5C141 155.5 201.1 107.7 272 107.7z"/>
                </svg>

                <i class="fa-brands fa-apple fa-2x hover:cursor-pointer hover:scale-110 transition-transform duration-200"
                    style="color: rgb(0, 0, 0);"></i>
                </div>

                <div class="w-full flex justify-center pt-4">
                    <p>Don't have an account? <a routerLink="/signup" class=" underline text-[#D93B3B] hover:cursor-pointer">Sign Up</a></p>
                </div>
            </form>
        </div>

    </div>
</div>
