

<div class="relative flex items-center justify-center w-full h-[340px] bg-[#F5ECE6]">

  <div class="absolute left-0 flex items-center justify-center w-[100px] h-full">
    <button
      class="text-[40px] text-black transition-all duration-300 hover:text-[#797878]"
      (click)="scrollLeft()">
      &lt;
    </button>
  </div>

  <div
    #scrollContainer
    class="flex flex-row flex-nowrap items-center gap-5 w-4/5 overflow-hidden snap-x snap-mandatory scroll-smooth transition-all duration-300"
    (touchstart)="dragStart($event)"
    (mousedown)="dragStart($event)"
    (mousemove)="dragMove($event)"
    (mouseup)="dragStop()">
    @for(category of categories;track category._id)
    {
      <app-card [cardImg]="category.imageURL" [cardText]="category.name"></app-card>
    }

    </div>

  <div class="absolute right-0 flex items-center justify-center w-[100px] h-full">
    <button
      class="text-[40px] text-black transition-all duration-300 hover:text-[#797878]"
      (click)="scrollRight()">
      &gt;
    </button>
  </div>

</div>
