<div class="relative flex w-[250px] h-[300px] rounded-[10px] overflow-hidden select-none snap-center zoom">

  <img
    [src]="cardImg || 'https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png'"
    class="w-full h-full object-cover pointer-events-none"
    draggable="false"
    loading="lazy"
  >

  <div class="absolute bottom-0 w-full h-[60px] bg-gradient-to-t from-black to-transparent text-white">
    <div class="absolute bottom-[10px] left-[10px]">
      {{ cardText || "Text test" }}
    </div>
  </div>

</div>
