<div class="container">
  <div class="cards-container">

  @for(product of products(); track product._id) {
      @defer (on viewport) {
        <app-card [cardImg]="product.imageURL" [cardText]="product.name"></app-card>
      } @placeholder {
        <div class="h-[340px] w-full bg-gray-200 animate-pulse rounded-xl"></div>
      }
    }
  @for(product of products();track product._id)
  {
    <app-card [cardImg]="product.imageURL" [cardText]="product.name" routerLink="/update/product/{{product._id}}"></app-card>
  }

</div>
<button class="w-full bg-[#D93B3B] hover:bg-[#D93B3B] py-2 rounded-md mt-2 text-white hover:scale-105 hover:cursor-pointer " (click)="loadProducts()">Show More</button>

</div>
