.cards-container
{
  display:grid;
  grid-template-columns: 270px 270px 270px;
  gap:10px;
  justify-content: center;
}
.container
{
  display: flex;
  width: 830px;
  flex-direction: column;
  /* background-color: gray; */
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}
@media (max-width:768px) {
  .cards-container
  {
    grid-template-columns: 270px 270px;
    gap:10px;
  }

}

@media (max-width:640px) {
  .cards-container
  {
    grid-template-columns: 270px;
    gap:10px;
  }
}
