
<div class="flex-1 flex flex-col gap-4 p-6">

    <div class="flex flex-row justify-between items-center bg-white w-full rounded-2xl p-4 shadow-2xl">
        <h1>UserName</h1>

        <div class="border-l h-8 mx-4"></div>

        <h1>Email</h1>

        <div class="border-l h-8 mx-4"></div>

        <div class="flex gap-4">
            <button class="rounded text-white px-2 bg-[#2BCE82] hover:cursor-pointer hover:scale-105">
                Save Changes
            </button>
            <button class="rounded text-white px-2 bg-[#D93B3B] hover:cursor-pointer hover:scale-105">
                Delete
            </button>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center bg-white w-full rounded-2xl p-4 shadow-2xl">
        <h1>UserName</h1>

        <div class="border-l h-8 mx-4"></div>

        <h1>Email</h1>

        <div class="border-l h-8 mx-4"></div>

        <div class="flex gap-4">
            <button class="rounded text-white px-2 bg-[#2BCE82] hover:cursor-pointer hover:scale-105">
                Save Changes
            </button>
            <button class="rounded text-white px-2 bg-[#D93B3B] hover:cursor-pointer hover:scale-105">
                Delete
            </button>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center bg-white w-full rounded-2xl p-4 shadow-2xl">
        <h1>UserName</h1>

        <div class="border-l h-8 mx-4"></div>

        <h1>Email</h1>

        <div class="border-l h-8 mx-4"></div>

        <div class="flex gap-4">
            <button class="rounded text-white px-2 bg-[#2BCE82] hover:cursor-pointer hover:scale-105">
                Save Changes
            </button>
            <button class="rounded text-white px-2 bg-[#D93B3B] hover:cursor-pointer hover:scale-105">
                Delete
            </button>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center bg-white w-full rounded-2xl p-4 shadow-2xl">
        <h1>UserName</h1>

        <div class="border-l h-8 mx-4"></div>

        <h1>Email</h1>

        <div class="border-l h-8 mx-4"></div>

        <div class="flex gap-4">
            <button class="rounded text-white px-2 bg-[#2BCE82] hover:cursor-pointer hover:scale-105">
                Save Changes
            </button>
            <button class="rounded text-white px-2 bg-[#D93B3B] hover:cursor-pointer hover:scale-105">
                Delete
            </button>
        </div>
    </div>

</div>
