<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<div class="w-full relative">
  <div class="overlay select-none">
    <h1 class="text-8xl text-white font-bold italic mb-10 max-sm:text-3xl max-sm:mb-3 max-md:text-5xl max-md:mb-5 max-lg:text-6xl max-lg:mb-7 logo-font">H&H</h1>
    <h2 class="text-5xl opacity-75 text-white mb-3 max-sm:text-lg max-md:text-2xl max-lg:text-4xl slogan-font">Premium Quality</h2>
    <h2 class="text-4xl opacity-75  text-white max-sm:text-sm max-md:text-xl max-lg:text-3xl slogan-font">For Premium Tastes</h2>
  </div>
    <video src="/assets/Video.mp4" class="w-full h-auto md:w-full lg:w-full object-cover" loop #video (canplay)="video.play()" (loadedmetadata)="video.muted = true"></video>
</div>
<!-- <app-product-categories></app-product-categories> -->
 <div class="bg-[#F5ECE6] pl-30 py-4 text-3xl w-full"><span class="mr-1" >Categories</span><span class="text-xl text-blue-900 hover:cursor-pointer " routerLink="/categories" >| view all</span></div>
<app-card-slider [categories]="categories"></app-card-slider>
<section class="container mx-auto px-4 py-8">
    <div class="flex flex-col sm:flex-row gap-12">
        <div class="flex-1">
        <img src="/assets/Homepage1.png" alt="Home Page 1" class="w-full h-170 rounded-lg object-cover hover:scale-102">
        </div>
        <div class="flex-1">
        <img src="/assets/Homepage2.png" alt="Home Page 2" class="w-full h-170 rounded-lg object-cover hover:scale-102">
        </div>
    </div>
</section>


</body>
</html>
