<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<app-navbr></app-navbr>
<div class="max-w-7xl mx-auto my-12 flex flex-col md:flex-row gap-4">

    <div class="w-full md:w-1/2 overflow-hidden rounded-lg">
    <img src="/assets/HomePage1.jpg" alt="Hero Image 1"
        class="w-full h-180 md:h-180 object-contain transform transition-transform duration-300  hover:scale-105 hover:-translate-y-1 ">
    </div>

    <div class="w-full md:w-1/2 overflow-hidden rounded-lg">
    <img src="/assets/HomePage6.jpg" alt="Hero Image 2"
        class="w-full h-180 md:h-180 object-contain transform transition-transform duration-300 hover:scale-105 hover:-translate-y-1">
    </div>

</div>
<app-footer></app-footer>
</body>
</html>
