<div class="flex flex-col md:flex-row min-h-screen gap-4">

   <div class="bg-black w-full md:w-60 p-6 overflow-auto shadow-2xl flex flex-col gap-3">
            <img src="/assets/LoginPage.png" alt="Login Page" class="w-32 mb-5 rounded-md">
            <hr class="border-white mb-5">

            <h1
            class="text-white mb-2 cursor-pointer rounded"
            routerLink="/add"
            routerLinkActive="bg-gray-600 py-1 px-1"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            Add Product
            </h1>

            <h1
            class="text-white mb-2 cursor-pointer rounded"
            routerLink="/update/product"
            routerLinkActive="bg-gray-600 py-1 px-1"
            [routerLinkActiveOptions]="{ exact: false }"
            >
            Update Product
            </h1>

            <h1
            class="text-white mb-2 cursor-pointer rounded"
            routerLink="/delete"
            routerLinkActive="bg-gray-600 py-1 px-1"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            Delete Product
            </h1>

            <h1
            class="text-white mb-2 cursor-pointer rounded"
            routerLink="/Users"
            routerLinkActive="bg-gray-600 py-1 px-1"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            Users
            </h1>
    </div>

    <form class="w-full" [formGroup]="adminUpdateProduct" (ngSubmit)="update()">
          <div class="flex-1 flex items-center justify-center my-14"> <!--flex-1 is Tailwind shorthand for flex-grow: 1; flex-shrink: 1; flex-basis: 0;-->
        <div class="bg-white w-full md:w-3/5 rounded-2xl p-6 shadow-2xl overflow-auto">
        <h1 class="font-bold text-4xl mb-6 text-center">Update Product</h1>

        <label class="block mb-2">Product Name</label>
        <input type="text" placeholder="Enter product name" class="w-full border-2 rounded-md px-4 py-2 text-sm text-black focus:outline-none focus:border-[#D93B3B]" formControlName="name">

        <label class="block mb-2 mt-4">Product Price</label>
        <input type="text" placeholder="Enter product price" class="w-full border-2 rounded-md px-4 py-2 text-sm text-black focus:outline-none focus:border-[#D93B3B]" formControlName="price">

        <label class="block mb-2 mt-4">Quantity</label>
        <input type="text" placeholder="Enter quantity" class="w-full border-2 rounded-md px-4 py-2 text-sm text-black focus:outline-none focus:border-[#D93B3B]" formControlName="quantity">

        <label class="block mb-2 mt-4">Image URL</label>
        <input type="text" placeholder="Enter product image" class="w-full border-2 rounded-md px-4 py-2 text-sm text-black focus:outline-none focus:border-[#D93B3B]" formControlName="imageURL">

        <label class="block mb-2 mt-4">Category</label>
        <select class="w-full border-2 rounded-md px-4 py-2 text-sm text-black focus:outline-none focus:border-[#D93B3B]" formControlName="category">
        <option value="" disabled selected>Select a category</option>
        <option value="electronics">Electronics</option>
        <option value="fashion">Fashion</option>
        <option value="books">Books</option>
        <option value="home">Home</option>
        <option value="toys">Toys</option>
        </select>

        <label class="block mb-2 mt-4">Gender</label>
        <select class="w-full border-2 rounded-md px-4 py-2 text-sm text-black focus:outline-none focus:border-[#D93B3B]" formControlName="gender">
        <option value="" disabled selected>Select a gender</option>
        <option value="m">Male</option>
        <option value="f">Female</option>
        </select>

        <label class="block mb-2 mt-4">Product Description</label>
        <textarea type="text" placeholder="Enter product description" class="w-full border-2 rounded-md px-4 py-2 text-sm text-black focus:outline-none focus:border-[#D93B3B]" formControlName="description"></textarea>
        <button type="submit" class="btn w-full bg-[#D93B3B] py-2 rounded-md mt-2 text-white hover:bg-[#D93B3B]
                 hover:scale-105 hover:cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:scale-100"
                 [attr.disabled]="adminUpdateProduct.invalid ? '':null"
        >
            ADD
        </button>
        </div>
    </div>
    </form>
</div>
