<footer class ="bg-black text-white px-8 py-6">
<div class="max-w-screen-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Contact Us -->
    <div class="flex flex-col gap-4 py-14 px-10">
        <h1 class="text-2xl"> Contact Us</h1>
        <div class="flex gap-2">
        <i class="fa-brands fa-facebook fa-2x hover:cursor-pointer hover:scale-110" style="color: rgb(255, 255, 255);"></i>
        <i class="fa-brands fa-instagram fa-2x hover:cursor-pointer hover:scale-110" style="color: rgb(255, 255, 255);"></i>
        <i class="fa-brands fa-whatsapp fa-2x hover:cursor-pointer hover:scale-110" style="color: rgb(255, 255, 255);"></i>
        </div>
    </div>

    <!-- Categories -->
    <div class="grid grid-cols-2 gap-6">
        <div>
        <h3 class="py-2 text-2xl"> For Him</h3>
        <hr class="py-1">
        <ul>
            <li class="hover:cursor-pointer hover:transform hover:scale-105" (click)="categoryClick('m','Hoodies')"> Hoodies</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('m','Shirts')"> Shirts</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('m','Sweaters')"> Sweaters</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('m','Jeans')"> Jeans</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('m','Shorts')"> Shorts</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('m','Sports Wear')"> Sports Wear</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('m','Boots')"> Boots</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('m','Flats')"> Flats</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('m','Hats')"> Hats</li>
        </ul>
        </div>
        <div>
        <h3 class="py-2 text-2xl"> For Her</h3>
        <hr class="py-1">
        <ul>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('f','Hoodies')"> Hoodies</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('f','Shirts')"> Shirts</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('f','Sweaters')"> Sweaters</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('f','Jeans')"> Jeans</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('f','Shorts')"> Shorts</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('f','Dresses')"> Dresses</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('f','Sports Wear')"> Sports Wear</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('f','Boots')"> Boots</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('f','Flats')"> Flats</li>
            <li class="hover:cursor-pointer hover:scale-105" (click)="categoryClick('f','Hats')"> Hats</li>
        </ul>
        </div>
    </div>


    <!-- About Us -->
    <div class="flex flex-col gap-2  py-2">
        <h3 class="text-2xl"> About Us</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, voluptatum? Officia quo sit odio consectetur omnis. Esse dolorum at pariatur laudantium vitae quae  </p>
        <p class="py-14"> © 2026 sebastian, All rights reserved. </p>
    </div>
</div>
</footer>
